@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color:#FCECE0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-purple:#44367E;
  --background-pink:#C23983;

}


body {
  color: var(--primary-color);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.bg-purple{
  background-color: var(--background-purple);
}
.bg-pink{
  background-color: var(--background-pink);

}
